body {
    background-image: url('/images/movie/background.png');
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.centerBanner {
    background-image: url('/images/movie/bannerbg.png');
    height: 50px;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 24pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 3px 3px #999999;
}

.section {
    border: 4px solid grey;
    width: 800px;
    margin: auto;
    border-radius: 20px;
}

.leftSection {
    float: left;
    width: 550px;
}

.rightSection {
    float: right;
    width: 250px;
    background-color: #A2B964;
    border-radius: 0 10px 0 0;
}

.clear {
    clear: both;
}



.imageSize {
    background-image: url(/images/movie/rbg.png);
    height: 83px;
    border-radius: 10px 0 0 0;
}

.largeText {
    font-size: 48pt;
    font-weight: bold;
    color: red;
    vertical-align: 10px;
}

.review {
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    border: 2px solid grey;
    border-radius: 10px;
    padding: 5px;
}

.first {
    width: 47%;
}

.leftColumn {
    float: left;
    width: 47%;
    padding: 8px;
}

.rightColumn {
    float: right;
    width: 47%;
    padding: 8px;
}

q {
    /* padding-left: 5px; */
    vertical-align: top;
    /* text-align: justify; */
}

.publisher {
    font-style: italic;
    vertical-align: 20pt;
    padding: 5px;
}

.reviewer {
    padding: 5px;
}

.generalOverview {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    padding: 10px;
    font-weight: bold;
}

dl>dd {
    padding-bottom: 10pt;
}

ul>li {
    list-style: none;
}

.footer {
    background-color: #A2B964;
    text-align: center;
    padding: 0;
    margin: 0;
    border-radius: 0 0 10px 10px;
}

.validator {
    float: right;
    opacity: 50%;
}

.floatl {
    float: left;
    margin: 0 5px;
}

.tmntImage {
    border-radius: 0 10px 0 0;
}

.rottenImage {
    border-radius: 10px;
}

dl>dt {
    font-weight: bolder;
}