.mainHeader {
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 22pt;
    font-weight: bold;
    text-decoration: underline;
}

.otherHeader {
    background-color: #F0F0F0;
    color: #A4A400;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: left;
    font-size: 18pt;
    font-weight: bold;
    text-decoration: underline;
    letter-spacing: 0.25em;
}

body {
    background-image: url('/images/silverware.jpg');
    background-attachment: fixed;
    background-color: white;
    color: #404040;
    font-size: 22pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.strike {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.copyright {
    font-family: monospace;
    width: 575px;
    text-align: right;
}

.comment {
    background-color: #FFFFA8;
}

ul>li {
    list-style-image: url('/images/pie_icon.gif');
}