<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/main.css">
</head>

<body>
    <form action="index" method="post">
        <div class="main">
            <div class="username">
                <label for="username">Username: </label>
                <span class="rightText">
                    <input type="text" name="username">
                </span>
            </div>
            <div class="password">
                <label for="password">Password: </label>
                <span>
                    <input type="password" name="password">
                </span>
            </div>
            <div class="login">
                <input type="submit" value="Login">
            </div>
        </div>
    </form>
</body>

</html>