<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
</head>

<body>
    <h1>Student</h1>
    <div>
        <label for="name">Name:</label>
        <span>
            <%= student.name %>
        </span>
    </div>
    <div>
        <label for="email">Email:</label>
        <span>
            <%= student.email %>
        </span>
    </div>

    <div>
        <label for="course">Course:</label>
        <span>
            <%= student.course %>

        </span>
    </div>
    <div>
        <label for="country">Country: </label>
        <span>
            <%= student.country %>

        </span>
    </div>
    <div>
        <label for="gender">Gender: </label>
        <span>
            <%= student.gender %>

        </span>
    </div>
</body>

</html>