.main{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.username{
    /* display: flex; */
    padding: 10px;
}

.password{
    /* display: flex; */
    padding: 10px;
}

.login{
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 90px;
}

.rightText{
    justify-content: right;
}